{% extends 'base.html' %}

{% block content %}
        <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
        }

        .card {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: calc(33.333% - 40px); /* Adjust width and padding for responsive design */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card h5 {
            margin-top: 0;
        }

        .card p {
            margin-bottom: 10px;
        }

        .card img {
            max-width: 100%;
            height: auto;
            border-top: 1px solid #ddd;
            padding-top: 10px;
            margin-top: 10px;
        }

        /* Responsive design */
        @media (max-width: 768px) {
            .card {
                width: calc(50% - 40px);
            }
        }

        @media (max-width: 480px) {
            .card {
                width: 100%;
            }
        }
    </style>

    <form method="POST" action="{{ url_for('handle_search') }}">
      <div class="mb-3">
          <input type="text" class="form-control" name="query" id="query" placeholder="Enter your search query" value="{{ query }}" autofocus>
      </div>
    </form>
    {% if results %}
        <div class="row mb-3">
            <div class="col-2 mt-2">
                <p><a href="javascript:history.back(1)">← Back</a></p>
                {% for agg in aggs %}
                    <h6 class="mt-3">{{ agg }}</h6>
                    {% for key, count in aggs[agg].items() %}
                        <form method="POST">
                            <input type="hidden" name="query" value="{{ agg|lower }}:{{key}} {{ query }}">
                            <button type="submit" class="btn btn-link btn-sm"{% if aggs[agg]|length == 1 %} disabled{% endif %}>{{ key }} ({{ count }})</button>
                        </form>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-10">
                <div class="row mb-3">
                    <div class="col-sm-auto my-auto">
                        Showing results {{ from_ + 1 }}-{{ from_ + results|length }} out of {{ total }}.
                    </div>
                    {% if from_ > 0 %}
                        <div class="col-sm-auto my-auto">
                            <a href="javascript:history.back(1)" class="btn btn-primary">← Previous page</a>
                        </div>
                    {% endif %}
                    {% if from_ + results|length < total %}
                        <div class="col-sm-auto my-auto">
                            <form method="POST">
                                <input type="hidden" name="query" value="{{ query }}">
                                <input type="hidden" name="from_" value="{{ from_ + results|length }}">
                                <button type="submit" class="btn btn-primary">Next page →</button>
                            </form>
                        </div>
                    {% endif %}
                    <div class="col"></div>
                </div>
                <div class="card-container">
                    {% for result in results %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ from_ + loop.index }}. <a href="{{ result._source._product_page }}">{{ result._source._name }}</a></h5>
                                <p class="card-text">{{ result._source._paragraph }}</p>
                                <p class="card-text"><small class="text-muted">Tags: {{ result._source._tags }}</small></p>
                                <p class="card-text"><small class="text-muted">Price: {{ result._source._price }}</small></p>
                                <p class="card-text"><small class="text-muted">Color: {{ result._source._colors }}</small></p>
                                {% if result._score %}
                                    <p class="card-text"><small class="text-muted">Similarity Score: {{ result._score }}</small></p>
                                {% endif %}
                                <img src="{{ result._source._url }}" class="card-img-bottom" alt="Image" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% elif request.method == 'POST' %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}
